/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --color-dark-bold: hsl(0, 0%, 0%);
  --color-dark-regular: hsl(0, 0%, 5%);
  --color-dark-light: hsl(0, 0%, 10%);
  --color-dark-mutated: hsl(0, 0%, 15%);
  --color-dark-medium: hsl(0, 0%, 20%);
  --color-dark-thin: hsl(0, 0%, 25%);
  --color-primary-light: hsl(0, 0%, 95%);
  --color-primary: hsl(0, 0%, 85%);
  --color-primary-mutated: hsl(0, 0%, 70%);
  --color-pill-green: hsl(115, 65%, 25%);
  --color-pill-green-mutated: hsl(115, 90%, 85%);
  --color-pill-amber: hsl(30, 75%, 25%);
  --color-pill-amber-mutated: hsl(30, 90%, 85%);
  --color-pill-red: hsl(5, 70%, 25%);
  --color-pill-red-mutated: hsl(5, 90%, 85%);
  --font-roboto: 'Roboto', sans-serif;
  --inset-shadow-md: inset 0 4px 4px var(--color-dark-thin);
  --shadow-custom: 0 8px 25px -2px var(--color-dark-light);
  --spacing-chart: calc(max(200px, 20vw));
}

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .custom-select {
    &,
    &::picker(select) {
      appearance: base-select;
    }
  }
}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}
